@import "/home/frvg/.zen/x28dekf2.Default (release)/chrome/Nebula/Nebula.css";

:root {
  --toolbar-color: #ffb68cff !important;
  --toolbar-bgcolor: #532200b3 !important;
  --zen-themed-toolbar-bg: #532200b3 !important;
  --sidebar-text-color: #ffb68cff !important;
}


  .sidebar-placesTree {
    background-color: #53220059 !important;
  }
  #TabsToolbar {
    background-color: #53220059 !important;
  }

  body:has([zen-compact-mode="true"]) #titlebar {
    background: #53220059 !important;
  }


  #browser {
      background: #53220059 !important; /* Increased opacity */
  }
  browser[transparent='true'] {
    background: #53220059 !important;
  }
