@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #1b343a !important;
    --zen-primary-color: #b0cbd3 !important;
    --zen-colors-secondary: #1b343a !important;
    --zen-colors-tertiary: #1b343a !important;
    --zen-colors-border: #b0cbd3 !important;
    --toolbarbutton-icon-fill: #b0cbd3 !important;
    --lwt-text-color: #e3e2e2 !important;
    --toolbar-field-color: #e3e2e2 !important;
    --tab-selected-textcolor: #e3e2e2 !important;
    --toolbar-field-focus-color: #e3e2e2 !important;
    --toolbar-color: #e3e2e2 !important;
    --newtab-text-primary-color: #e3e2e2 !important;
    --arrowpanel-color: #e3e2e2 !important;
    --arrowpanel-background: #1f2020 !important;
    --sidebar-text-color: #e3e2e2 !important;
    --lwt-sidebar-text-color: #e3e2e2 !important;
    --lwt-sidebar-background-color: #1b343a !important;
    --toolbar-bgcolor: #1b343a !important;
    --newtab-background-color: #1b343a !important;
    --zen-themed-toolbar-bg: #1b343a !important;
    --zen-main-browser-background: #1b343a !important;
  }

  #permissions-granted-icon{
    color: #1b343a !important;
  }

  .sidebar-placesTree {
    background-color: #1b343a !important;
  }

  #zen-workspaces-button {
    background-color: #1b343a !important;
  }

  #TabsToolbar {
    background-color: #1b343a !important;
  }

  #urlbar-background {
    background-color: #121414 !important;
  }

  .content-shortcuts {
    background-color: #1b343a !important;
    border-color: #b0cbd3 !important;
  }

  .urlbarView-url {
    color: #b0cbd3 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1b343a !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #1b343a;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #b0cbd3 !important;
    --identity-icon-color: #b0cbd3 !important;
  }
}
